#contacts-container {
    background: $background;

    .inner-app {
        .add-contact {
            width: 100%;
            padding: 10px;
            text-align: center;
            background: $main-color;
            color: $primary;
            font-weight: bold;
            border-bottom: 1px solid $border-color;

            i {
                margin-left: 10px;
            }

            &:hover {
                transition: all ease-in 0.15s;
                filter: brightness(85%);
            }
        }

        .contacts-list {
            height: 86.4%;
            overflow-y: auto;
            overflow-x: hidden;

            .contact {
                border-bottom: 1px solid $border-color;
                padding: 10px;
                display: block;
                color: $border-color;
                background: $primary;

                .contact-avatar {
                    font-size: 20px;
                    float: left;
                    line-height: 35px;
                    margin-left: 10px;
                    margin-right: 10px;
                    margin-top: 8px;
                    height: 35px;
                    width: 35px;
                    border-radius: 70px;
                    text-align: center;
                    position: relative;
                    top: 15%;
                    -webkit-transform: translate(0%, 0%);
                    transform: translate(0%, 0%);
                    background: $main-color;
                    color: $primary;
                    pointer-events: none;
                }

                .contact-name {
                    line-height: 50px;
                    pointer-events: none;

                    .contact-name-text {
                        width: 50%;
                        display: inline-block;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
                    
                    .number {
                        font-weight: bold;
                        float: right;
                        padding-right: 20px;
                    }
                }

                &:hover {
                    transition: all ease-in 0.15s;
                    background: $primary-hover;
                }

                .contact-actions {
                    z-index: 998;
                    padding: 10px;
                    display: none;

                    i {
                        width: 25%;
                        text-align: center;
                        font-size: 25px;
                        pointer-events: auto;
                    
                        &:hover {
                            transition: all ease-in 0.15s;
                            color: $main-color;
                        }

                        &.action-disabled {
                            color: $disabled !important;
    
                            &:hover {
                                color: $disabled !important;
                            }
                        }
                    }
                }
            }
        }

        .search-contact {
            border-top: 1px solid $border-color;

            input {
                height: 5%;
                width: 100%;
                padding: 10px;
                margin: 0;
            }
        }
    }
}