#settings-container {
    background: $background;

    #phone-settings {
        .settings-section {
            padding: 15px;
            background: $text;
            margin: 15px;
            border-radius: 5px;
            border: 1px solid $border-color;
            text-align: center;
    
            h3 {
                color: $alt-text;
                font-size: 25px;
                text-align: center;
                margin-bottom: 25px;
            }

            &:last-child {
                position: absolute;
                bottom: 0;
                width: 100%;
                margin: 0;
            
            }

            button {
                width: 49.25%;
            }
        }
    }
}