.phone-notif-container {
    display: none;
    width: 400px;
    position: absolute;
    right: 0;
    background: rgba(0, 0, 0, 0.65);
    margin-top: 24px;
    padding: 15px 15px 15px 15px;
    font-size: 14px;
    z-index: 98;
    color: #ffffff;
}